<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hi Developer,</h1>

    <p>
      I hope this message finds you well. This is a gentle reminder to ensure
      that you have filled out the training logs for the topics covered this
      week.
    </p>

    <p>Please find below the necessary links:</p>

    <ul>
      <li>
        <strong>Training Topics:</strong>
        <a
          href="https://docs.google.com/presentation/d/1rD4ylryFWzdllZ1sny9y54WB4JBINWxRfBQ_tIUWJOo/edit?hl=en&forcehl=1#slide=id.p"
          >Training Topics Presentation</a
        >
      </li>
      <li>
        <strong>Training Log Form:</strong>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScA0FIl3rKZOLlbjo056yN1AMcAqlWMzh6dmcW4hTitd0b5Kw/viewform"
          >Training Log Form</a
        >
      </li>
    </ul>

    <p>
      Your prompt attention to this matter is highly appreciated. Should you
      have any questions or concerns, please feel free to reach out.
    </p>

    <p>Thank you for your cooperation.</p>

    <p>Best regards</p>
  </body>
</html>
